{
  "personal_info": {
    "title": "个人信息",
    "content": "--个人信息的填写示例，可以不保存空格\n员工编号 \t：{{ bi.emp }}\n姓名\t：{{ bi.name }}\n工作年限 \t：{{ bi.work }}\n毕业时间 \t：{{ bi.grad }}\n毕业院校 \t：{{ bi.school }}\n专业\t：{{ bi.major }}\n最高学历 \t：{{ bi.edu }}\n部门\t：{{ bi.dept }}\n职位\t：{{ bi.title }}\n个人简介 \t：{{ bi.profile }}\n--具体可参考操作手册"
  },
  "education": {
    "title": "教育经历",
    "content": "测试附加信息输出：\n\n一级部门\t：{{ ai.dept1 }}\n二级部门\t：{{ ai.dept2 }}\n职位\t：{{ ai.pos }}\n岗位类别\t：{{ ai.job }}\n专业级别\t：{{ ai.level }}\n在职状态\t：{{ ai.status }}\n入职日期\t：{{ ai.entry }}\n首次入职日期\t：{{ ai.first }}\n司龄（取整）\t：{{ ai.years | round | int }}\n总工作年限（取整）：{{ ai.work | round | int }}\n薪资发放公司\t：{{ ai.pay }}\nBase地\t：{{ ai.loc }}\n性别\t：{{ ai.gender }}\n出生日期\t：{{ ai.birth }}\n年龄（取整）\t：{{ ai.age | round | int }}\n政治面貌\t：{{ ai.pol }}\n身份证号\t：{{ ai.id }}\n联系电话\t：{{ ai.phone }}\n毕业时间\t：{{ ai.grad }}\n毕业院校\t：{{ ai.school }}\n最高学历\t：{{ ai.edu }}\n专业\t：{{ ai.major }}\n合同法人\t：{{ ai.legal }}\n\n特殊信息输出测试：\n\n学位\t：{{ si.degree }}\n参加工作日期\t：{{ si.workdt }}"
  },
  "work_experience": {
    "title": "工作经历",
    "content": "{% for work in we %}\n- 公司：{{ work.comp }}\n  职位：{{ work.pos }}\n  时间：{{ work.start }} 至 {{ work.end }}\n  描述：{{ work.desc }}\n{% endfor %}"
  },
  "project_experience": {
    "title": "项目经验",
    "content": "{% for prj in pe %}\n- 项目名称：{{ prj.proj }}\n  角色：{{ prj.role }}\n  时间：{{ prj.start }} 至 {{ prj.end }}\n  描述：{{ prj.desc }}\n{% endfor %}"
  },
  "skills": {
    "title": "技能特长",
    "content": "业务能力\t：{{ wa.skill }}\n证书 \t：{{ wa.cert }}\n培训经历\t：{{ wa.train }}\n技能标签\t：{{ wa.tags }}\n\n--自动根据空格回车 \n{{ wa.train|replace(' ', '\\n') }}"
  },
  "update_log": {
    "title": "更新日志",
    "content": "========V1.3.0=========\n更新日期：2025-11-19\n更新内容：新增简历填写示例功能；补充了更新日志内容；修复了非标准简历的项目职责识别失败的bug;新增了人员名单对excel格式的支持；补充了长亮科技短键模板的支持；\n\n========V1.2.0=========\n更新日期：2025-11-08\n更新内容：补充了多个银行简历模板的短键版本输出；\n\n========V1.1.0=========\n更新日期：2025-11-02\n更新内容：修改长键对应短键渲染功能；修复存在的一些显示BUG;\n\n========V1.0.0=========\n更新日期：2025-10-31\n更新内容：实现所有内容的封装调试，解决一些bug；\n\n========V0.5.1=========\n更新日期：2025-02-11\n更新内容：命令行级别的功能性脚本输出，实现简历的读取与转换，支持公司模板的输出；"
  }
}