comtypes==1.4.12
docx==0.2.4
docxcompose==1.4.0
docxtpl==0.20.1
Jinja2==3.1.6
openpyxl==3.1.2
pandas==2.3.3
Pillow==12.0.0
psutil==7.1.3
python_dateutil==2.9.0.post0
python_docx==1.2.0
pywin32==311
tqdm==4.66.1
ttkthemes==3.2.2
xlrd==2.0.2
xlutils==2.0.0
jsonschema==4.19.2
