comtypes==1.4.12
docx==0.2.4
docxtpl==0.20.1
Flask==3.1.2
flask_cors==5.0.1
Jinja2==3.1.6
openpyxl==3.1.2
pandas==2.3.3
Pillow==12.0.0
python_dateutil==2.9.0.post0
python_docx==1.2.0
ttkthemes==3.2.2
xlrd==2.0.2
xlutils==2.0.0
